{{ define "main" }}

<div id="raccolta" class="page">

	<h1>Scegli la tua storia</h1>
		
	<a href="{{ .Site.BaseURL }}stop/01/00_intro/" class="c_box">
		
		<img class="c_img" src="{{ .Site.BaseURL }}images/cover_rc_01.jpg">

		<div class="c_info">
			<p>8 tappe | ~3h</p>
			<p>Semplice</p>
		</div>

		<div class="title">Uno studioso nei guai</div>

		<div class="author">

			<img class="c_aut" src="{{ .Site.BaseURL }}images/author_01.jpg">

			<div class="aut_name">di VeniceQuest</div>
			
		</div>
		
	</a>

	<!--div class="c_box">
		
		<img class="c_img" src="">

		<span class="c_info">xx tappe | ~2h</span>

		<div class="title">La congiura del Tiepolo</div>

		<div class="author">

			<img class="c_aut" src="">

			<div class="aut_name">di VeniceQuest</div>
			
		</div>
		
	</div>

	<div class="c_box">
		
		<img class="c_img" src="">

		<span class="c_info">xx tappe | ~2h</span>

		<div class="title">La congiura del Tiepolo</div>

		<div class="author">

			<img class="c_aut" src="">

			<div class="aut_name">di VeniceQuest</div>
			
		</div>
		
	</div-->

</div>


{{ end }}


