@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i");
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Regular.eot");
  src: url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Black.eot");
  src: url("fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Black.woff") format("woff"), url("fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Thin.eot");
  src: url("fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/Gilroy-Thin.woff") format("woff"), url("fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

html {
  background-color: #000000;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
  font-family: 'Gilroy';
  letter-spacing: 1px;
  margin: 0;
  display: grid;
  opacity: 0;
  -webkit-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
}

#homepage {
  overflow: hidden;
}

#homepage .fscr {
  opacity: 0;
}

#homepage .content {
  grid-area: 1 / 1 / 3 / 1;
  place-self: center;
}

#homepage .content .home_logo {
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
}

#homepage .content h2 {
  color: #ffffff;
  display: block;
  text-align: center;
  margin-top: 32px;
  opacity: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#desktop.page {
  background: url(/images/cover_dt.jpg);
  background-size: cover;
  display: grid;
}

#desktop.page .dp_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "preview right";
  max-width: 1080px;
  padding: 56px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#desktop.page .dp_grid p, #desktop.page .dp_grid h3 {
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

#desktop.page .dp_grid .preview {
  grid-area: preview;
  place-self: center;
  max-height: 700px;
  max-width: 380px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: none;
}

#desktop.page .dp_grid .right_content {
  grid-area: right;
}

#desktop.page .dp_grid .right_content img {
  width: 100%;
  opacity: 0;
  top: 50px;
  display: block;
  position: relative;
}

#desktop.page .dp_grid .right_content h3, #desktop.page .dp_grid .right_content p {
  opacity: 0;
  top: 50px;
  display: block;
  position: relative;
}

.full {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr auto;
}

.full .fscr {
  grid-area: 1 / 1 / 3 / 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.bottom {
  grid-area: 2 / 1 / 3 / 1;
  padding-bottom: 64px;
  justify-items: center;
  margin-top: 50px;
  opacity: 0;
}

button {
  cursor: pointer;
  border: 1px solid #ffffff;
  padding: 8px 32px;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  font-size: 1em;
  line-height: 1em;
  background: transparent;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

input {
  font-family: 'Gilroy';
}

.main {
  display: grid;
}

.main.stop {
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 500px;
  justify-self: center;
}

.img_overlay {
  display: grid;
  grid-area: 1 / 1 / 1 / 1;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

.stop_name {
  grid-area: 1 / 1 / 1 / 1;
  place-self: center;
  color: #000000;
  z-index: 2;
  text-align: center;
  padding: 0 16px;
}

.stop_name h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5em;
}

.stop_name .hi {
  opacity: 0;
  top: 30px;
  position: relative;
  display: inline-block;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0);
  will-change: top, opacity, letter-spacing;
  margin-left: .3em;
  letter-spacing: 6px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}

.main_img {
  grid-area: 1 / 1 / 1 / 1;
  height: 105vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: relative;
  top: -5vh;
  z-index: 0;
  opacity: 0;
}

.paragraph {
  line-height: 26px;
  padding: 16px;
  color: #616161;
  opacity: 0;
  top: 30px;
  position: relative;
  will-change: top, opacity;
}

.paragraph img {
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.question {
  padding: 16px;
  font-size: 1.3em;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  font-weight: 600;
}

.hint {
  text-align: center;
  display: block;
  font-style: italic;
  opacity: .3;
}

.animation_overlay {
  grid-area: 1 / 1 / 1 / 1;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: #000000;
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 100vh;
  visibility: hidden;
  opacity: 1;
  z-index: 5;
}

.animation_overlay.visible {
  visibility: visible;
  opacity: 1;
}

.animation_overlay .circ {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  place-self: center;
  grid-area: 1 / 1 / 1 / 1;
  border: 3px solid #ffffff80;
  border-left: 3px solid #ffffff00;
}

.animation_overlay .circ1 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  place-self: center;
  grid-area: 1 / 1 / 1 / 1;
  border: 10px solid #ffffff80;
  border-top: 10px solid #ffffff00;
}

.animation_overlay .circ2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  place-self: center;
  grid-area: 1 / 1 / 1 / 1;
  border: 10px solid #ffffff80;
  border-right: 10px solid #ffffff00;
}

.animation_overlay .circ3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  place-self: center;
  grid-area: 1 / 1 / 1 / 1;
  border: 5px solid #ffffff80;
  border-bottom: 5px solid #ffffff00;
}

.animation_overlay .point {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  place-self: center;
  grid-area: 1 / 1 / 1 / 1;
  background: #ffffff;
}

.response {
  position: fixed;
  display: grid;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  z-index: 4;
}

.response.visible {
  visibility: visible;
  opacity: 1;
}

.response h1, .response p {
  color: #ffffff;
}

.response .content {
  place-self: center;
  text-align: center;
  grid-area: 1 / 1 / 1 / 1;
  padding: 16px;
}

.response button {
  background: #ffffff;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 50px;
  padding: 10px 32px;
}

#error.response {
  background: #B71C1C;
}

#error.response button {
  color: #B71C1C;
}

#error .error_tip {
  color: #ffffff;
  opacity: .7;
  font-style: italic;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 32px;
  width: 320px;
  font-size: 14px;
}

#success.response {
  background: #2e7d32;
}

#success.response button {
  color: #2e7d32;
}

.pswd_box {
  display: grid;
  padding: 16px 16px 64px 16px;
}

.pswd_box input {
  place-self: center;
  height: 40px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #616161;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  width: 50%;
}

.pswd_box input:focus {
  outline: none;
  border-bottom: 2px solid #000000;
  width: 80%;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.pswd_box input.button {
  color: #000000;
  background: rgba(0, 0, 0, 0);
  width: auto;
  text-align: center;
  margin-top: 32px;
  border-radius: 20px;
  border: 1px solid #000000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 0 16px;
  line-height: 40px;
}

#raccolta {
  padding: 16px;
  background: #000000;
}

#raccolta h1 {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.c_box {
  display: grid;
  height: 250px;
  grid-template-rows: auto 1fr auto auto;
  background: #000000;
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  margin-top: 50px;
}

.c_box .c_info {
  grid-area: 1 / 1 / 2 / 1;
  padding: 16px;
  justify-self: end;
  z-index: 1;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
}

.c_box .c_img {
  grid-area: 1 / 1 / 5 / 1;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  opacity: .5;
}

.c_box .title {
  grid-area: 3 / 1 / 4 / 1;
  padding: 16px 16px 8px 16px;
  z-index: 1;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.c_box .author {
  grid-area: 4 / 1 / 5 / 1;
  padding: 8px 16px 16px 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  z-index: 1;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.c_box .author .c_aut {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 8px;
}

#intro.page {
  display: grid;
  grid-template-rows: 1fr 60px 60px 32px;
  grid-template-areas: "content" "next" "start" ".";
  background: #000000;
  color: #ffffff;
  z-index: 0;
}

#intro.page .bkg_eff {
  grid-area: 1 / 1 / 5 / 2;
  position: relative;
  z-index: 0;
}

#intro.page .bkg_eff img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: calc(100% + 50px);
  opacity: 0;
  left: 0px;
  position: fixed;
}

#intro.page .content {
  grid-area: content;
  padding: 32px;
  place-self: center;
  z-index: 1;
}

#intro.page .content p {
  display: none;
  opacity: 0;
  margin-top: 50px;
  line-height: 1.5em;
  font-size: 1.2em;
}

#intro.page .content p img {
  grid-area: 1 / 1 / 5 / 2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 16px 0;
  border-radius: 4px;
}

#intro.page .next {
  grid-area: next;
  place-self: center;
  display: inline-block;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

#intro.page a {
  grid-area: start;
  place-self: center;
  display: none;
  opacity: 0;
  z-index: 1;
  font-weight: 700;
  cursor: pointer;
}
